---
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"h1"> {}

const { ...attrs } = Astro.props;
---

<style>
  h1 {
    font-family: "Lilita One", system-ui;
    color: #ffffff;
    text-shadow:
      3px 3px 0 #2c74a0,
      3px -3px 0 #2c74a0,
      -3px 3px 0 #2c74a0,
      -3px -3px 0 #2c74a0,
      3px 0px 0 #2c74a0,
      0px 3px 0 #2c74a0,
      -3px 0px 0 #2c74a0,
      0px -3px 0 #2c74a0;
  }
</style>

<h1 class="text-6xl" {...attrs}>
  <slot />
</h1>
