<section class="text-white space-y-10 py-10" id="about">
  <h2 class="text-center text-5xl">Sobre</h2>

  <div class="max-w-4xl m-auto px-5 space-y-5">
    <p>
      O curso de Pedagogia do Centro Universitário Anhanguera Pitágoras Ampli
      tem como objetivo formar profissionais altamente qualificados para atuar
      no campo educacional, seja como docentes na Educação Infantil e nos anos
      iniciais do Ensino Fundamental, ou como gestores escolares, coordenadores
      pedagógicos, educadores sociais, entre outras funções relacionadas à
      intencionalidade educativa.
    </p>

    <p>
      Essa formação oferece aos alunos uma compreensão aprofundada dos processos
      educacionais, das teorias de aprendizagem e do desenvolvimento humano,
      além de capacitá-los com ferramentas para o planejamento, execução e
      avaliação de práticas pedagógicas.
    </p>

    <p>
      A comemoração do Dia das Crianças foi idealizada com o propósito de
      proporcionar aos estudantes a oportunidade de aplicar as propostas
      pedagógicas com o público infantil, ao mesmo tempo em que promove ações de
      extensão acadêmica, oferecendo uma noite repleta de diversão e aprendizado
      tanto para a comunidade local quanto para os discentes da Instituição.
    </p>
  </div>
</section>
