---
import image01 from "@/images/carrousel/carouselEvent/IMG-20241004-WA0016.jpg";
import image02 from "@/images/carrousel/carouselEvent/IMG-20241004-WA0017.jpg";
import image03 from "@/images/carrousel/carouselEvent/IMG-20241004-WA0018.jpg";
import image04 from "@/images/carrousel/carouselEvent/IMG-20241004-WA0019.jpg";
import image05 from "@/images/carrousel/carouselEvent/IMG-20241004-WA0020.jpg";
import image06 from "@/images/carrousel/carouselEvent/IMG-20241004-WA0021.jpg";
import image07 from "@/images/carrousel/carouselEvent/IMG-20241004-WA0022.jpg";
import image08 from "@/images/carrousel/carouselEvent/IMG-20241004-WA0023.jpg";
import image09 from "@/images/carrousel/carouselEvent/IMG-20241004-WA0024.jpg";
import image10 from "@/images/carrousel/carouselEvent/IMG-20241004-WA0025.jpg";
import image11 from "@/images/carrousel/carouselEvent/IMG-20241004-WA0026.jpg";
import image12 from "@/images/carrousel/carouselEvent/IMG-20241004-WA0027.jpg";
import image13 from "@/images/carrousel/carouselEvent/IMG-20241004-WA0028.jpg";
import image14 from "@/images/carrousel/carouselEvent/IMG-20241004-WA0029.jpg";
import image15 from "@/images/carrousel/carouselEvent/IMG-20241004-WA0030.jpg";
import image16 from "@/images/carrousel/carouselEvent/IMG-20241004-WA0031.jpg";
import image17 from "@/images/carrousel/carouselEvent/IMG-20241004-WA0032.jpg";
import image18 from "@/images/carrousel/carouselEvent/IMG-20241004-WA0033.jpg";
import H2Title from "../others/H2Title.astro";

import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

const images02 = [
  image02,
  image04,
  image05,
  image10,
  image06,
  image01,
  image03,
  image07,
  image08,
  image09,
  image11,
  image12,
  image13,
  image14,
  image15,
  image16,
  image17,
  image18,
];
---

<style>
  section {
    background-image: url("/backgrounds/paper_sides.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
</style>

<section class="py-36 px-5 space-y-10">
  <H2Title>Galeria</H2Title>

  <div class="relative xs:px-14 max-w-[59.5rem] m-auto">
    <!-- Carrossel de imagens -->
    <div class="swiper swiper-event max-w-[52.5rem]">
      <div class="swiper-wrapper">
        {
          images02.map((image) => (
            <div class="swiper-slide">
              <div class="w-full h-96 xs:max-w-96 overflow-hidden m-auto rounded-md bg-gray-500/25 border-4 border-accent">
                <Image
                  src={image}
                  width={image.width / 1.5}
                  height={image.height / 1.5}
                  alt="Imagem do evento"
                  loading="lazy"
                  class="object-cover size-full"
                />
              </div>
            </div>
          ))
        }
      </div>
    </div>

    <!-- Botões responsável por controlar o carrossel, (prev e next) -->
    <div>
      <button
        type="button"
        class="prev-event size-10 xs:size-12 bg-accent rounded-full flex items-center justify-center absolute z-10 right-12 bottom-2 xs:left-0 xs:top-1/2 xs:-translate-y-1/2"
      >
        <Icon name="ArrowLeft" size="24" />
      </button>

      <button
        type="button"
        class="next-event size-10 xs:size-12 bg-accent rounded-full flex items-center justify-center absolute z-10 right-2 bottom-2 xs:right-0 xs:top-1/2 xs:-translate-y-1/2"
      >
        <Icon name="ArrowRight" size="24" />
      </button>
    </div>
  </div>
</section>

<script>
  import Swiper from "swiper";
  import { Navigation, Autoplay } from "swiper/modules";
  import "swiper/css";

  // Responsável por instânciar e configurar o carrossel
  new Swiper(".swiper-event", {
    modules: [Navigation, Autoplay],
    slidesPerView: 1,
    spaceBetween: 15,
    loop: true,
    navigation: {
      nextEl: ".next-event",
      prevEl: ".prev-event",
    },
    autoplay: {
      delay: 10000,
    },
    breakpoints: {
      960: {
        slidesPerView: 2,
        spaceBetween: 15,
      },
    },
  });
</script>
