---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

const images = import.meta.glob("/public/carrousel/carouselInfo/*.{webp,webp}");
---

<style>
  section {
    background-image: url("/backgrounds/paper_sides.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
</style>

<section class="py-36 px-5">
  <div class="relative xs:px-14 max-w-[59.5rem] m-auto">
    <!-- Carrossel de imagens -->
    <div class="swiper swiper-info max-w-[52.5rem]">
      <div class="swiper-wrapper">
        {
          Object.keys(images).map((imgPath) => (
            <div class="swiper-slide">
              <div class="max-w-none rounded-md xs:max-w-96 m-auto border-4 border-accent">
                <Image
                  src={imgPath.replace("/public", "")}
                  width={384}
                  height={384}
                  alt="Informações sobre o evento"
                  loading="eager"
                  quality={100}
                  class="m-auto size-full xs:size-auto"
                />
              </div>
            </div>
          ))
        }
      </div>
    </div>

    <!-- Botões responsável por controlar o carrossel, (prev e next) -->
    <div>
      <button
      type="button"
        class="prev-info size-10 xs:size-12 bg-accent rounded-full flex items-center justify-center absolute z-10 right-12 bottom-2 xs:left-0 xs:top-1/2 xs:-translate-y-1/2"
      >
        <Icon name="ArrowLeft" size="24" />
      </button>

      <button
      type="button"
        class="next-info size-10 xs:size-12 bg-accent rounded-full flex items-center justify-center absolute z-10 right-2 bottom-2 xs:right-0 xs:top-1/2 xs:-translate-y-1/2"
      >
        <Icon name="ArrowRight" size="24" />
      </button>
    </div>
  </div>
</section>

<script>
  import Swiper from "swiper";
  import { Navigation, Autoplay } from "swiper/modules";
  import "swiper/css";

  // Responsável por instânciar e configurar o carrossel
  new Swiper(".swiper-info", {
    modules: [Navigation, Autoplay],
    slidesPerView: 1,
    spaceBetween: 15,
    loop: true,
    navigation: {
      nextEl: ".next-info",
      prevEl: ".prev-info",
    },
    autoplay: {
      delay: 3000,
    },
    breakpoints: {
      768: {
        slidesPerView: 2,
        spaceBetween: 15,
      },
      1024: {
        slidesPerView: 3,
        spaceBetween: 15,
      },
    },
  });
</script>
