<section class="text-white m-5 space-y-10 py-10" id="localization">
  <div>
    <h2>Local do evento</h2>

    <p class="text-center">
      Av. Dr. Alberto Benedetti, 446 - Vila Assunção, Santo André - SP,
      09020-270
    </p>
  </div>

  <div class="m-auto text-center max-w-[750px]">
    <iframe
      height="400"
      title="Localização do evento"
      src="https://www.openstreetmap.org/export/embed.html?bbox=-46.529505550861366%2C-23.66917582683101%2C-46.525026261806495%2C-23.667058239347337&layer=mapnik&marker=-23.668117037377105%2C-46.52726590633392"
      class="rounded-md shadow-2xl w-full"
      loading="lazy"
    >
    </iframe>

    <br />

    <small>
      <a
        href="https://www.openstreetmap.org/?mlat=-23.668117&mlon=-46.527266#map=19/-23.668117/-46.527266"
        target="_blank"
        class="hover:underline"
      >
        Ver mapa ampliado
      </a>
    </small>
  </div>
</section>
