---
import topFormaturas from "@/images/logos/top_formaturas.webp";
import pedagogy from "@/images//others/pedagogy.webp";
import anhanguera from "@/images/logos/anhanguera.webp";
import tecnohelp from "@/images/logos/tecnohelp.webp";

import { Image } from "astro:assets";
---

<style>
  section {
    background-image: url("/backgrounds/paper_sides.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
</style>

<section class="py-36 space-y-10">
  <h2>Apoio</h2>

  <div class="flex flex-wrap gap-10 items-center justify-center">
    <div>
      <Image src={topFormaturas} alt="" width={188} height={158.75} />
    </div>

    <div>
      <Image src={pedagogy} alt="" width={188} height={65.25} />
    </div>

    <div>
      <Image src={anhanguera} alt="" width={188} height={46.64} />
    </div>

    <div>
      <Image src={tecnohelp} alt="" width={188} height={65.72} />
    </div>
  </div>
</section>
