---
import Header from "../components/persistent/Header.astro";
import Footer from "../components/persistent/Footer.astro";

import "@fontsource/lilita-one";
import "@fontsource/roboto";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/others/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta
      name="keywords"
      content="dia das crianças, evento, anhanguera,pedagogia"
    />
    <title>{title}</title>
    <style is:global>
      * {
        font-family: "Roboto", sans-serif;
      }

      html {
        scroll-behavior: smooth;
      }
    </style>
  </head>
  <body
    class="bg-[url('/backgrounds/background.webp')] bg-no-repeat bg-fixed bg-center"
  >
    <Header />

    <main class="m-auto">
      <slot />
    </main>

    <Footer />
  </body>
</html>
